<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BlockChain Visualizer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">BlockChain Visualizer</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/decode" class="nav-link">블록 검증</a></li>
    <li class="nav-item"><a href="/block/view" class="nav-link">블록 체인</a></li>
  </ul>
</header>
<div style="width: 200px; margin:0 auto">
  <tr th:each="block, blockStat : ${blockChain}">
    <span th:text="${blockStat.index} + 1"></span>
    <span>번째 블록</span>
    <div>--- 블록 헤더 ---</div>
    <p>
    <td th:text="|현재 블록 주소 : ${block.blockHash}|">없음</td>
    </p>
    <p>
    <td th:text="|이전 블록 참조값 : ${block.previousBlockHash}|">없음</td>
    </p>
    <p>
      <span th:text="|머클루트 : ${block.merkleRoot}|">없음</span>
    </p>
    <p>
    <td th:text="|논스값 : ${block.nonce}|">없음</td>
    </p>
    <p>
    <td th:text="|생성시간 : ${block.timeStamp}|">없음</td>
    </p>
    <p>
    <td th:text="|난이도 : ${block.bits}|">없음</td>
    </p>
    <p>
    <td th:text="|생성시간 : ${block.timeStamp}|">없음</td>
    </p>
    <p>
    <td th:text="|버전 : ${block.version}|">없음</td>
    </p>

    <div>--- 블록 바디 ---</div>
    <p th:each="transaction, transactionStat : ${block.transactions}">
      <span th:text="${transactionStat.index} + 1"></span>
      <span th:text="|. ${transaction}|"></span>
    </p>




  </tr>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>