<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BlockChain Visualizer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">BlockChain Visualizer</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/miner/transaction" class="nav-link">TX 보기</a></li>
    <li class="nav-item"><a href="/merkleTree" class="nav-link">Merkle Tree</a></li>
    <li class="nav-item"><a href="/nonce" class="nav-link">nonce 계산</a></li>
    <li class="nav-item"><a href="/mining" class="nav-link">블록 마이닝</a></li>
  </ul>
</header>

<tr th:each="merkle, blockStat : ${merkleRoot}">
  <span th:text="${blockStat.index} + 1"></span>
  <span>번째 층 머클트리</span>

  <div>--- 트랜잭션 해시값 ---</div>
  <p th:each="m, mStat : ${merkle}">
    <span th:text="${mStat.index} + 1"></span>
    <span th:text="|. ${m}|"></span>
  </p>




</tr>
</body>
</html>