<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlockChain Visualizer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">BlockChain Visualizer</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/miner/transaction" class="nav-link">TX 보기</a></li>
            <li class="nav-item"><a href="/merkleTree" class="nav-link">Merkle Tree</a></li>
            <li class="nav-item"><a href="/nonce" class="nav-link">nonce 계산</a></li>
            <li class="nav-item"><a href="/mining" class="nav-link">블록 마이닝</a></li>
        </ul>
    </header>

    <div>--- 블록 헤더 ---</div>
    <p>
        <td th:text="|이전 블록 참조값 : ${block.previousBlockHash}|">없음</td>
    </p>
    <p>
        <td th:text="|머클루트 : ${block.merkleRoot}|">없음</td>
    </p>
    <p>
        <td th:text="|논스값 : ${block.nonce}|">없음</td>
    </p>
    <p>
        <td th:text="|생성시간 : ${block.timeStamp}|">없음</td>
    </p>
    <p>
        <td th:number="|난이도 : ${block.bits}|">없음</td>
    </p>
    <p>
        <td th:text="|버전 : ${block.version}|">없음</td>
    </p>

    <!-- Nonce 입력 -->
    <h5>Nonce 입력</h5>
    <form th:action="@{/nonce}" th:object="${blockDto}" method="post">
        <input type="number" th:field="*{nonce}" class="form-control"
               placeholder="Nonce">
        <button type="submit">Nonce 값 계산</button>
    </form>
    <br>
    <br>

    <h3>Nonce 맞추기 결과</h3>
    <p>
        <span th:text="| Hash 값 : ${hash} |">없음</span>
    </p>
    <br>
    <b><span th:if="${count >= 1}" style="color:green">마이닝 성공!</span></b>
    <b><span th:if="${count < 1}" style="color:red">마이닝 실패!</span></b>

</body>
</html>