<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlockChain Visualizer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">BlockChain Visualizer</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/wallet" class="nav-link">지갑 생성</a></li>
        <li class="nav-item"><a href="/transaction" class="nav-link">TX 전송</a></li>
        <li class="nav-item"><a href="/transaction/view" class="nav-link">TX 리스트</a></li>
    </ul>
</header>
<div style="width: 200px; height: 200px; margin:0 auto">

    <!-- Transaction 생성하기 -->
    <h5>Transaction 생성하기</h5>
    <form th:action="@{/transaction}" th:object="${tx}" method="post">
        <input type="text" th:field="*{receiver}" class="form-control"
               placeholder="Receiver">
        <input type="text" th:field="*{value}" class="form-control"
               placeholder="Value">
        <input type="text" th:field="*{fee}" class="form-control"
               placeholder="Fee">
        <button type="submit" onclick="alert('작성한 Transaction 생성을 요청합니다!')">Transaction 생성</button>
    </form>
    <div th:if="${errorMessage}">
        <div th:text="${errorMessage}"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>